<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
    <meta name="description" content="VSXu - An Audio Visualizer, Music Visualization, Visual Programming Language (VPL), Realtime Graphics Design Platform - {{ page.title }}" />
    <meta name="keywords" content="audio, music, visualization, vovoid, vsxu, artiste, player, programming, multi-platform, 音声, 可視化, 音楽, のプログラミング,音楽視覚化,リアルタイム" />
    <meta property="fb:page_id" content="129044247131992" />

    <script type="text/javascript">
        var _gaq = _gaq || [];
	    _gaq.push(['_setDomainName', 'vsxu.com']);
	    _gaq.push(['_setAccount', 'UA-19756072-2']);
	    _gaq.push(['_trackPageview']);
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
</head>
